body {
  background-color: #4a4c4d;
  color: black;
}

form {
  background-color: rgb(13 59 102);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
}

footer {
  background-color: #0d3b66;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
